.projects{
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    color: var(--color-3);
    display: flex;
    flex-direction: column;
}
.projects div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.more-projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#more-project-button{
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: var(--color-2);
    border: 1px solid var(--color-2);
    transition: ease-in-out, 300ms;
    color: var(--color-1);
    border-radius: 30px;
}

#more-project-button:hover{
    cursor: pointer;
    background-color: var(--color-1);
    color: var(--color-2);
}

.project-list{
    width: 450px;
    height: 300px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.project-list:hover img{
    opacity: 0.6;
}

.project-list:hover ul{
    z-index: 1;
}

.project-list img{
    width: inherit;
    position: absolute;
    transition: 300ms;
}

.project-list ul{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 75%;
}
.project-list ul li{
    padding: 6px;
    margin: 5px;
    background-color: var(--color-1);
    color: var(--color-2);
    border-radius: 5px;
    transition: 300ms;
}

.more-projects,
.more-projects div{
    display: flex;
    flex-direction: column;
}

.more-projects div h2{
    color: var(--color-2);
}

.more-projects div div{
    padding-bottom: 30px;
}

.more-projects div div div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}
.github svg, .website svg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    fill: var(--color-2);
    background-color: var(--color-1);
    border-radius: 50%;
    padding: 2px;
    transition: ease-in-out, 500ms;
    margin: 0 2px;
}

.github svg:hover, .website svg:hover{
    fill: var(--color-1);
    background-color: var(--color-2);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.project-title{
    font-size: 1.3rem;
}

.project-description{
    color: rgba(245,245,245, 0.7)
}