.projects{
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    color: var(--color-3);
    display: flex;
    flex-direction: column;
}
.projects div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-list{
    width: 450px;
    height: 300px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.project-list img{
    width: inherit;
    position: absolute;
}

.project-list ul{
    margin: 0 auto;
    padding: 0;
}