.leftComponent{
    height: 100%;
    width: 80px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.leftComponent a{
    margin: 10px 0;
}

.rotated{
    writing-mode: vertical-lr;
    color: var(--color-3);
    transform: rotate(180deg);
    text-decoration: none;
    padding: 2px;
    margin: 0 2px;
    transition: ease-in-out, 500ms;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftComponent a svg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    fill: var(--color-3);
    background-color: var(--color-1);
    padding: 2px;
    transition: ease-in-out, 500ms;
    margin: 0 2px;
    opacity: 0.8;
}

.leftComponent a svg:hover{
    height: 30px;
    fill: var(--color-2);
}

.rotated:hover{
    color: var(--color-2);
}