.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-3);
}

.contact h1{
    margin-bottom: 0;
}

.contact p{
    font-size: 1.1rem;
}

.contact a{
    color: var(--color-2);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 20px;
    border: 1px solid var(--color-2);
    border-radius: 5px;
    transition: 300ms;
}

.contact a:hover{
    background-color: var(--color-2);
    color: var(--color-1);
}