:root{
    --color-1: #0a192f;
    --color-2: #64ffda;
    --color-3: rgb(245,245,245);
    --content-width: 1000px;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
}
html, body{
    margin: 0;
    padding: 0;
    background-color: var(--color-1);
}