.landingMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 600px;
    height: 100vh;
    max-width: var(--content-width);
    width:100%;
    margin: 0 auto;
}
.landingMessage span{
    padding: 8px 0;
}

.landingMessage .small-heading{
    color: var(--color-2);
    font-size: 1.5rem;
}

.landingMessage .big-heading{
    color: var(--color-3);
    font-size: 4rem;
}

.landingMessage div{
    padding: 30px 0;
}
.landingMessage div a {
    color: var(--color-2);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 20px;
    border: 1px solid var(--color-2);
    border-radius: 5px;
    transition: 300ms;
}

.landingMessage div a:hover{
    background-color: var(--color-2);
    color: var(--color-1);
}